<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kieranju.vault</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>09EB4F48-8811-4A19-A9F0-FF1AAE855F97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93B6E9F6-EF11-4F84-A956-EB4A4CE07E4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14F8DF3A-7805-4C7F-81C6-68B9B5E1F291</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA7652FB-62FB-408A-BF21-5CA453F9085F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8276ABB6-A48A-47EC-B4B9-B89D724373AA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69CFF033-3DE8-46E6-84B3-D5C48F34C988</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2288F12C-9B58-498D-BE01-279C56ECFE20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB6867DD-F3C2-4F2C-B59D-31867F58B215</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EBA93873-52ED-4A5A-B2A9-5E7F7AF6F94B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5E72A04F-A3D2-44D5-B509-DC4FDD3AF14A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA8624FD-9E83-4BEA-A826-EFE38C14FABA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49A1D4B4-D779-4E5A-9A7C-78019D3AB808</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D57318BA-E920-4F83-A8BC-3CC7201B9BDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E72A04F-A3D2-44D5-B509-DC4FDD3AF14A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3139D05-7818-4B3D-9398-6C7562AC4BC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6561E5F0-B545-4B55-BAB6-73D1CCA3E635</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C10F3CF-2BE7-48FC-A4A3-AD023BE099D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69CFF033-3DE8-46E6-84B3-D5C48F34C988</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE19469B-9670-4173-8E86-A1D8A2DC6E33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81A2186A-D437-46B0-80B0-E03A22EE5281</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09EB4F48-8811-4A19-A9F0-FF1AAE855F97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>57C52A92-8014-453A-A6C5-3A515B435CC0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BDBC3B6F-FA61-4E3A-AD83-29679D7ECC72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C10F3CF-2BE7-48FC-A4A3-AD023BE099D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CA51378-DB76-4FCA-B6A0-6F397B3DA01E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CA51378-DB76-4FCA-B6A0-6F397B3DA01E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49A1D4B4-D779-4E5A-9A7C-78019D3AB808</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CFAF23D-DD43-4552-8241-65FEF1535DEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F8B9BED-6351-4C00-B8E7-D33D8E9E17A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A901C9E2-34C9-429A-866D-4A2AC3437EA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14F8DF3A-7805-4C7F-81C6-68B9B5E1F291</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3139D05-7818-4B3D-9398-6C7562AC4BC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA5475FE-A533-4070-8D99-4A462C236FCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA8624FD-9E83-4BEA-A826-EFE38C14FABA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5891F71D-233F-4868-935A-7FF47D0BA153</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDBC3B6F-FA61-4E3A-AD83-29679D7ECC72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A901C9E2-34C9-429A-866D-4A2AC3437EA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA5475FE-A533-4070-8D99-4A462C236FCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81A2186A-D437-46B0-80B0-E03A22EE5281</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1A918B7-8CC9-4188-BA8A-2FBA97B48722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CFAF23D-DD43-4552-8241-65FEF1535DEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA7652FB-62FB-408A-BF21-5CA453F9085F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE19469B-9670-4173-8E86-A1D8A2DC6E33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE19469B-9670-4173-8E86-A1D8A2DC6E33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>961462A5-0A69-49A4-B0F4-61E6807682EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE4139D2-B994-4B97-BFB9-4556D397F81E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2288F12C-9B58-498D-BE01-279C56ECFE20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kieran Utz</string>
	<key>description</key>
	<string>Interact with the 1Password CLI</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Vault</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>op signin</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>6561E5F0-B545-4B55-BAB6-73D1CCA3E635</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	set phrase to the text returned of (display dialog "Enter your master password to authenticate with 1Password." default answer "" with icon note buttons {"Cancel", "Continue"} default button "Continue" with hidden answer)
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>8CA51378-DB76-4FCA-B6A0-6F397B3DA01E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Vault</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D57318BA-E920-4F83-A8BC-3CC7201B9BDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python auth.py "$op" "signin" "$subdomain" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>49A1D4B4-D779-4E5A-9A7C-78019D3AB808</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>op signin</string>
				<key>subtext</key>
				<string>Get session key from 1Password</string>
				<key>text</key>
				<string>Sign in</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8C10F3CF-2BE7-48FC-A4A3-AD023BE099D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>op signout</string>
				<key>subtext</key>
				<string>Revoke active session key</string>
				<key>text</key>
				<string>Sign out</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1A918B7-8CC9-4188-BA8A-2FBA97B48722</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python auth.py "$op" "signout" "$subdomain"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9CFAF23D-DD43-4552-8241-65FEF1535DEC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Vault</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2F8B9BED-6351-4C00-B8E7-D33D8E9E17A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>op signin</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>AB6867DD-F3C2-4F2C-B59D-31867F58B215</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Vault</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>93B6E9F6-EF11-4F84-A956-EB4A4CE07E4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:verbose}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>09EB4F48-8811-4A19-A9F0-FF1AAE855F97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:value}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BDBC3B6F-FA61-4E3A-AD83-29679D7ECC72</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Vault</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>961462A5-0A69-49A4-B0F4-61E6807682EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:clipboard}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EA7652FB-62FB-408A-BF21-5CA453F9085F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>op find</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching items...</string>
				<key>script</key>
				<string>/usr/bin/python find.py "$op" "$jq"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>test.js</string>
				<key>subtext</key>
				<string>Find an item in your vault</string>
				<key>title</key>
				<string>Find</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FE4139D2-B994-4B97-BFB9-4556D397F81E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python info.py "$op" "$jq" "{query}" "$field"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CA5475FE-A533-4070-8D99-4A462C236FCC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:authenticated}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>invalid</string>
						<key>uid</key>
						<string>EBA93873-52ED-4A5A-B2A9-5E7F7AF6F94B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>valid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2288F12C-9B58-498D-BE01-279C56ECFE20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:clipboard}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>value</string>
						<key>uid</key>
						<string>8276ABB6-A48A-47EC-B4B9-B89D724373AA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>empty</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>14F8DF3A-7805-4C7F-81C6-68B9B5E1F291</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:value}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>empty</string>
						<key>uid</key>
						<string>57C52A92-8014-453A-A6C5-3A515B435CC0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>loaded</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>81A2186A-D437-46B0-80B0-E03A22EE5281</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:verbose}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EE19469B-9670-4173-8E86-A1D8A2DC6E33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>clipboard</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B3139D05-7818-4B3D-9398-6C7562AC4BC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:field}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>username|password</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5E72A04F-A3D2-44D5-B509-DC4FDD3AF14A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.25</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>A901C9E2-34C9-429A-866D-4A2AC3437EA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5891F71D-233F-4868-935A-7FF47D0BA153</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set the clipboard to ""
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>69CFF033-3DE8-46E6-84B3-D5C48F34C988</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:field}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>url</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BA8624FD-9E83-4BEA-A826-EFE38C14FABA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Requires:
* 1Password CLI (https://1password.com/downloads/command-line/)
* jq (https://stedolan.github.io/jq/)</string>
	<key>uidata</key>
	<dict>
		<key>09EB4F48-8811-4A19-A9F0-FF1AAE855F97</key>
		<dict>
			<key>note</key>
			<string>Verbose</string>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>14F8DF3A-7805-4C7F-81C6-68B9B5E1F291</key>
		<dict>
			<key>xpos</key>
			<integer>1400</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>2288F12C-9B58-498D-BE01-279C56ECFE20</key>
		<dict>
			<key>note</key>
			<string>Authentication</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>2F8B9BED-6351-4C00-B8E7-D33D8E9E17A6</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>49A1D4B4-D779-4E5A-9A7C-78019D3AB808</key>
		<dict>
			<key>note</key>
			<string>Sign in with auth.py</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>5891F71D-233F-4868-935A-7FF47D0BA153</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>5E72A04F-A3D2-44D5-B509-DC4FDD3AF14A</key>
		<dict>
			<key>note</key>
			<string>Sensitive fields</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>6561E5F0-B545-4B55-BAB6-73D1CCA3E635</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>69CFF033-3DE8-46E6-84B3-D5C48F34C988</key>
		<dict>
			<key>note</key>
			<string>Erase clipboard contents</string>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>81A2186A-D437-46B0-80B0-E03A22EE5281</key>
		<dict>
			<key>note</key>
			<string>Data</string>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>8C10F3CF-2BE7-48FC-A4A3-AD023BE099D4</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>8CA51378-DB76-4FCA-B6A0-6F397B3DA01E</key>
		<dict>
			<key>note</key>
			<string>Collect password</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>93B6E9F6-EF11-4F84-A956-EB4A4CE07E4F</key>
		<dict>
			<key>xpos</key>
			<integer>1220</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>961462A5-0A69-49A4-B0F4-61E6807682EB</key>
		<dict>
			<key>xpos</key>
			<integer>1820</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>9CFAF23D-DD43-4552-8241-65FEF1535DEC</key>
		<dict>
			<key>note</key>
			<string>Sign out with auth.py</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>A901C9E2-34C9-429A-866D-4A2AC3437EA9</key>
		<dict>
			<key>xpos</key>
			<integer>1260</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>AB6867DD-F3C2-4F2C-B59D-31867F58B215</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>B3139D05-7818-4B3D-9398-6C7562AC4BC1</key>
		<dict>
			<key>note</key>
			<string>Cache clipboard contents</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>BA8624FD-9E83-4BEA-A826-EFE38C14FABA</key>
		<dict>
			<key>note</key>
			<string>Website URL</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>BDBC3B6F-FA61-4E3A-AD83-29679D7ECC72</key>
		<dict>
			<key>note</key>
			<string>Paste value</string>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>CA5475FE-A533-4070-8D99-4A462C236FCC</key>
		<dict>
			<key>note</key>
			<string>Fetch details with info.py</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>D1A918B7-8CC9-4188-BA8A-2FBA97B48722</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>D57318BA-E920-4F83-A8BC-3CC7201B9BDC</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>EA7652FB-62FB-408A-BF21-5CA453F9085F</key>
		<dict>
			<key>note</key>
			<string>Restore clipboard contents</string>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>EE19469B-9670-4173-8E86-A1D8A2DC6E33</key>
		<dict>
			<key>note</key>
			<string>Verbose</string>
			<key>xpos</key>
			<integer>1710</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>FE4139D2-B994-4B97-BFB9-4556D397F81E</key>
		<dict>
			<key>note</key>
			<string>Fetch results with find.py</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>jq</key>
		<string>/usr/local/bin/jq</string>
		<key>op</key>
		<string>/usr/local/bin/op</string>
		<key>subdomain</key>
		<string>my</string>
		<key>verbose</key>
		<string>false</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>subdomain</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>kieranju.com</string>
</dict>
</plist>
